QWidget
{
     background-color: #111;
     color: #aaa;
     border: 1px solid #333;
}

QLabel, QCheckBox
{
   border: none;
}

QLineEdit,QComboBox
{
     padding-top: .2ex;
     padding-bottom: .2ex;
}

QPushButton
{
     padding-top: 1ex;
     padding-bottom: 1ex;
     background-color: #222;
}

QGroupBox
{
   padding-top: 2ex;
}

QScrollBar:horizontal
{
    height: 8px;
}

QScrollBar:vertical
{
    width: 8px;
}

QProgressBar
{
   text-align: center;
   color: white;
}
