[general]
debug_level = WARNING
default_plot_dt = 0.1
default_hdf_dt = 1.0
run_name = test
hdf_loop_delay = .1
monitoring_dt = 1.0
custom_command = Enter command ...
custom_device = Select device ...

[run_attributes]

[files]
config_dir = C:/Users/ogras/Documents/GitHub/CeNTREX-js216/config/histogram_test
hdf_fname = C:/Users/ogras/Downloads/test.hdf
plotting_hdf_fname = C:/Users/ogras/Downloads/test.hdf
plotting_config_fname = C:/Users/ogras/Documents/CeNTREX/plot_config
sequence_fname = C:/Users/ogras/Documents/GitHub/CeNTREX-js216/config/test/sequence.txt

[networking]
enabled = False
name = network
workers = 10
port_readout = 12345
port_control = 12346
allowed = 127.0.0.1, 0.0.0.0

[influxdb]
enabled = False
host = 172.28.82.114
port = 8086
token = blabla
bucket = bla
org = CeNTREX