[general]
debug_level = WARNING
default_plot_dt = 0.1
default_hdf_dt = 1.0
run_name = test
hdf_loop_delay = .1
monitoring_dt = 1.0
custom_command = Enter command ...
custom_device = Select device ...

[run_attributes]

[networking]
enabled = False
control_name = test
port_readout = 123456
port_control = 123457
workers = 10

[files]
config_dir = //vmware-host/Shared Folders/temp/CENTREX Jakob/0 common/DAQ_software/config/test
hdf_fname = C:/Users/Jakob Kastelic/Documents/DAQtest/test.hdf
plotting_hdf_fname = C:/Users/Jakob Kastelic/Documents/DAQtest/test.hdf
plotting_config_fname = C:/Users/Jakob Kastelic/Documents/DAQtest/test.hdf
sequence_fname = //vmware-host/Shared Folders/temp/CENTREX Jakob/0 common/DAQ_software/config/test/sequence.txt

[influxdb]
enabled = False
host = 172.28.82.114
port = 8086
username = bsmonitor
password = molecules
database = beamsource

